@import url('https://fonts.googleapis.com/css?family=Barlow');

.border-radius(@radius) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}

h1 {
  font-size: 72px;
}

.App {
  text-align: center;
}

.Header {
  height: 30px;
  text-align: left;
  padding: 20px 10px;
  .wordmark {

    font-size: 1.1em;
    padding-right: 15px;
  }
  .link {
    padding-right: 10px;
  }
}

.hero {
  margin-top: 100px;
  max-width: 375px;
  text-align: left;
  h2 {
    color: lighten(@text-color, 20%);
    span {
      font-weight: bold;
      font-size: 1.1em;
      color: @text-color;
    }
  }
}

.PriceChart {
  .current-price {
    // since we're "dropping" this into the chart space, we need to ensure the z-index
    // is increased so that it will pop over the chart in the event that the two
    // spaces  collide.
    z-index: 9999;
    margin-bottom: -200px;
    text-align: left;
    h1 {
      margin-bottom: -20px;
      span:last-of-type {
        font-size: 0.4em;
      }
    }
    p {
      color: lighten(@text-color, 40%);
    }
  }
}

.KeyStats {
  background: -moz-linear-gradient(277deg, rgba(68,168,215,1) 5%, rgba(68,168,215,1) 38%, rgba(107,69,209,1) 84%, rgba(107,69,209,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, rgba(68,168,215,1)), color-stop(38%, rgba(68,168,215,1)), color-stop(84%, rgba(107,69,209,1)), color-stop(100%, rgba(107,69,209,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(277deg, rgba(68,168,215,1) 5%, rgba(68,168,215,1) 38%, rgba(107,69,209,1) 84%, rgba(107,69,209,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(277deg, rgba(68,168,215,1) 5%, rgba(68,168,215,1) 38%, rgba(107,69,209,1) 84%, rgba(107,69,209,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(277deg, rgba(68,168,215,1) 5%, rgba(68,168,215,1) 38%, rgba(107,69,209,1) 84%, rgba(107,69,209,1) 100%); /* ie10+ */
  background: linear-gradient(173deg, rgba(68,168,215,1) 5%, rgba(68,168,215,1) 38%, rgba(107,69,209,1) 84%, rgba(107,69,209,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#44a8d7', endColorstr='#6b45d1',GradientType=0 ); /* ie6-9 */
  padding-bottom: 25px;
  .ant-card {
    background-color: transparent;
    .ant-card-head {
      .ant-card-head-title {
        color: @body-background;
      }
      border-color: darken(@primary-color, 10%);
      background-color: transparent;
    }
    &.ant-card-bordered {
      border: none;
      .border-radius(7px)
    }
    .stats {
      // color: @body-background;
      font-size: 1.8em;
    }
    .health-bar {
      height: 8px;
      margin: 8px 30px 0px;
    }
  }

  // The following should not be necessary, but the gutter technique antd is using
  // leaves whitespace at the end of the row.
  .ant-row > div:first-of-type, .ant-row > div:last-of-type {
    padding-right: 7px;
    padding-left: 7px;
  }
}

.Details {
  text-align: left;
  background-color: whitesmoke;
  color: lighten(@text-color, 20%);
  h2 {
    margin-top: 30px;
  }
}

// animations

.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fade-in {
  -webkit-animation-name: fade-in;
  animation-name: fade-in;
}


// Media Queries

@media (max-width: 800px) {
  .PriceChart .current-price {
    margin-bottom: 0px !important;
  }
}
