@import url('https://fonts.googleapis.com/css?family=Barlow');

.border-radius(@radius) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}

H1 {
  font-size: 72px;
}

.App {
  text-align: center;
}

.Header {
  height: 30px;
  text-align: left;
  padding: 20px 10px;
  .wordmark {
    // font-weight: bold;
    font-size: 1.1em;
    padding-right: 15px;
  }
  .link {
    padding-right: 10px;
  }
}

.Hero {
  margin-top: 100px;
  text-align: left;
  h2 {
    color: lighten(@text-color, 20%);
    span {
      font-weight: bold;
      font-size: 1.1em;
      color: @text-color;
    }
  }
}

.PriceChart {
  .currentPrice {
    margin-bottom: -200px;
    text-align: left;
    h1 {
      margin-bottom: -20px;
      span {
        font-size: 0.4em;
      }
    }
    p {
      color: lighten(@text-color, 40%);
    }
  }
}

.KeyStats {
  background-color: @primary-color;
  .ant-card {
    background-color: @secondary-color;
    .ant-card-head {
      .ant-card-head-title {
        color: @body-background;
      }
      border-color: darken(@secondary-color, 10%);
      background-color: @secondary-color;
    }
    &.ant-card-bordered {
      border: none;
      .border-radius(7px)
    }
  }

  // The following should not be necessary, but the gutter technique antd is using
  // leaves whitespace at the end of the row.
  .ant-row > div:first-of-type, .ant-row > div:last-of-type {
    padding-right: 7px;
    padding-left: 7px;
  }
}
